<section id="projects">
<div class="container">
  <h3>Projects</h3>
  <div class="panel panel-default">
    <div class="panel-body">

    	<h5>
			<i class="fa fa-github"></i>&nbsp;&nbsp;<strong><a href="https://www.thethingsnetwork.org/community/principado-de-asturias/">The Things Network Asturias</a></strong>
			- Our mission is to provide the entire Principado de Asturias with Internet of Things (IoT) data connectivity by crowdsourcing the network by its citizens and local companies. We are happy to have you join the community. Contact the core team and help us unleash the Internet of Things in Principado de Asturias.
		</h5>

		<h5>
			<i class="fa fa-github"></i>&nbsp;&nbsp;<strong><a href="http://www.raenac.net">RAENAC</a></strong>
			- Ham Radio Association.
		</h5>

    </div>
  </div>
</div>
</section>
